<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">	<display-name>The Java iView Runtime</display-name>
	<filter>
		<filter-name>NavigationRequestFilter</filter-name> 
		<filter-class>com.sap.portal.http.EnrichNavRequestFilter</filter-class> 
	</filter>
	<filter>
    	<filter-name>CustomHeaderFilter</filter-name>
    	<filter-class>com.sap.portal.prt.dispatcher.CustomHeaderFilter</filter-class>
  	</filter>
  	<filter-mapping>
	  	<filter-name>NavigationRequestFilter</filter-name> 
	  	<servlet-name>prt</servlet-name> 
	</filter-mapping>
  	<filter-mapping>
	  	<filter-name>NavigationRequestFilter</filter-name> 
	  	<servlet-name>gateway</servlet-name> 
	</filter-mapping>
	<filter-mapping>
	  	<filter-name>NavigationRequestFilter</filter-name> 
	  	<url-pattern>/servlet/*</url-pattern> 
	</filter-mapping>
	<filter-mapping>
	  	<filter-name>NavigationRequestFilter</filter-name> 
	  	<url-pattern>*.jsp</url-pattern> 
	</filter-mapping>
	<filter-mapping>
	  	<filter-name>CustomHeaderFilter</filter-name> 
	  	<url-pattern>/*</url-pattern>
	  	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
    	<dispatcher>INCLUDE</dispatcher>
    	<dispatcher>ERROR</dispatcher> 
	</filter-mapping>
	<listener>
		<listener-class>
            com.sapportals.portal.prt.session.HttpSessionHandler
        </listener-class>
	</listener>
	<servlet>
		<servlet-name>
			gateway
		</servlet-name>
		<servlet-class>
			com.sap.portal.navigation.Gateway
		</servlet-class>
		<init-param>
			<param-name>
				portal_entry_point
			</param-name>
			<param-value>
				/servlet/prt/portal/prtroot/com.sap.portal.navigation.portallauncher.default
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				wsrp_producer_service
			</param-name>
			<param-value>
				AutoGenProducer1_0
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal_anonymous_entry_point
			</param-name>
			<param-value>
				/servlet/prt/portal/prtroot/com.sap.portal.navigation.portallauncher.anonymous
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/interop
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=0,include_in_url=1,include_application_name_in_url=1,nested_window=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=0,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/ajax
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=1,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/classic
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=1,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/light
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=1,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/default
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=1,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/admin
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=1,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/anonymous
			</param-name>
			<param-value>
				anonymous=1,proxy=0,low_bandwidth=0,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/ushell
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=1,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				portal/vossloh
			</param-name>
			<param-value>
				anonymous=0,proxy=0,low_bandwidth=1,include_in_url=1,include_application_name_in_url=1
			</param-value>
		</init-param>
		<load-on-startup>
		0
		</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>prt</servlet-name>
		<servlet-class>com.sap.portal.prt.dispatcher.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>gateway</servlet-name>
		<url-pattern>/servlet/gateway/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prt</servlet-name>
		<url-pattern>/servlet/prt/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gateway</servlet-name>
		<url-pattern>/portal/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gateway</servlet-name>
		<url-pattern>/wsrp/producer/resource/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gateway</servlet-name>
		<url-pattern>/wsrp/consumer/resource/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prt</servlet-name>
		<url-pattern>/irj/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>prt</servlet-name>
		<url-pattern>/go/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
